<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <ui:include src="../templates/head.xhtml" />
        </h:head>
    </f:view> 

    <body>
        <ui:include src="../templates/header.xhtml" />
        <ui:include src="../templates/menu_supervisor.xhtml" />

        <!-- INICIO AREA DE TRBAJO -->

        <div class="ui-fluid fluid-center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row top-buffer">

                    <div class="ui-grid-col-3">                       
                    </div>

                    <div class="ui-grid-col-6">
                        <h:form id="form">
                            <p:panel id="panelTechnician" header="Technician">
                                <p:messages id="mensajes" showDetail="true" closable="true"/>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Documento"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtDocument" binding="#{TechnicianView.txtDocument}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Nombre"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtName" binding="#{TechnicianView.txtName}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Especialidad"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtEspeciality" binding="#{TechnicianView.txtEspeciality}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Telefono"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtPhone" binding="#{TechnicianView.txtPhone}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnCrear" value="Crear" styleClass="ui-button-primary" binding="#{TechnicianView.btnCrear}" action="#{TechnicianView.insert()}" update=":form" />
                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnModificar" value="Modificar" styleClass="ui-button-secondary" binding="#{TechnicianView.btnModificar}" action="#{TechnicianView.update()}" update=":form"/>
                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnEliminar" value="Eliminar" styleClass="ui-button-danger" binding="#{TechnicianView.btnEliminar}" action="#{TechnicianView.delete()}" update=":form">
                                            <p:confirm header="Confimar" message="¿Esta seguro de eliminar el registro?"/>
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="SI" type="button" styleClass="ui-confirmdialog-yes"/>
                                            <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no"/>
                                        </p:confirmDialog>

                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnLimpiar" value="Limpiar" styleClass="ui-button-success"  action="#{TechnicianView.clear()}" update="form"/>
                                    </div>
                                </div>
                            </p:panel>
                            <p>
                                <p:separator/>
                            </p>
                            <div class="ui-grid-row top-buffer">
                                <div class="ui-grid-col-12">
                                    <p:dataTable id="dataTableTechnician" reflow="true" paginator="true" rows="5" selectionMode="single" var="technician" value="#{TechnicianView.listTechnician}" rowKey="#{technician.document}" emptyMessage="No existen tecnicos" paginatorPosition="top">
                                        <p:ajax event="rowSelect" listener="#{TechnicianView.onRowSelect}" update=":form:panelTechnician" />
                                        <p:column headerText="Documento">
                                            <h:outputText value="#{technician.document}"/>
                                        </p:column>
                                        <p:column headerText="Nombre">
                                            <h:outputText value="#{technician.name}"/>
                                        </p:column>
                                        <p:column headerText="Especialidad">
                                            <h:outputText value="#{technician.especiality}"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>    
                        </h:form>
                    </div>

                    <div class="ui-grid-col-3">                       
                    </div>

                </div>
            </div>
        </div>

        <!-- FIN AREA DE TRABAJO -->

        <ui:include src="../templates/footer.xhtml" />
    </body>
</html>