<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
       
      <body>
        <div class="ui-fluid">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center"> <!-- Por ahora... -->
                        <p:graphicImage name="img/banner.png" class="img_responsive"/>
                    </div>
                </div>
            </div>
        </div>  
          <br/>
    </body>
</html>