<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <ui:include src="../templates/head.xhtml" />
        </h:head>
    </f:view> 

    <body>
        <ui:include src="../templates/header.xhtml" />
        <ui:include src="../templates/menu_admin.xhtml" />

        <!-- INICIO AREA DE TRBAJO -->

        <div class="ui-fluid fluid-center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row top-buffer">

                    <div class="ui-grid-col-3">                       
                    </div>

                    <div class="ui-grid-col-6">
                        <h:form id="form">
                            <p:panel id="panelObservation" header="Observation">
                                <p:messages id="mensajes" showDetail="true" closable="true"/>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Id"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtId" binding="#{ObservationView.txtIdObservation}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3">
                                        <h:outputText value="Descripción"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:inputText id="txtDescription" binding="#{ObservationView.txtDescription}"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row top-buffer">
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnCrear" value="Crear" styleClass="ui-button-primary" binding="#{ObservationView.btnCrear}" action="#{ObservationView.insert()}" update=":form" />
                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnModificar" value="Modificar" styleClass="ui-button-secondary" binding="#{ObservationView.btnModificar}" action="#{ObservationView.update()}" update=":form"/>
                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnEliminar" value="Eliminar" styleClass="ui-button-danger" binding="#{ObservationView.btnEliminar}" action="#{ObservationView.delete()}" update=":form">
                                            <p:confirm header="Confimar" message="¿Esta seguro de eliminar el registro?"/>
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="SI" type="button" styleClass="ui-confirmdialog-yes"/>
                                            <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no"/>
                                        </p:confirmDialog>

                                    </div>
                                    <div class="ui-grid-col-3 right-buffer">
                                        <p:commandButton id="btnLimpiar" value="Limpiar" styleClass="ui-button-success"  action="#{ObservationView.clear()}" update="form"/>
                                    </div>
                                </div>
                            </p:panel>
                            <p>
                                <p:separator/>
                            </p>
                            <div class="ui-grid-row top-buffer">
                                <div class="ui-grid-col-12">
                                    <p:dataTable id="dataTableObservation" reflow="true" paginator="true" rows="5" selectionMode="single" var="observation" value="#{ObservationView.listObservation}" rowKey="#{observation.idObservation}" emptyMessage="No existen observaciones" paginatorPosition="top">
                                        <p:ajax event="rowSelect" listener="#{ObservationView.onRowSelect}" update=":form:panelObservation" />
                                        <p:column headerText="Id">
                                            <h:outputText value="#{observation.idObservation}"/>
                                        </p:column>
                                        <p:column headerText="Descripción">
                                            <h:outputText value="#{observation.description}"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>    
                        </h:form>
                    </div>

                    <div class="ui-grid-col-3">                       
                    </div>

                </div>
            </div>
        </div>

        <!-- FIN AREA DE TRABAJO -->

        <ui:include src="../templates/footer.xhtml" />
    </body>
</html>