<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:view contentType="text/html">
        <h:head>
            <ui:include src="templates/head.xhtml"/>
       </h:head>
    </f:view>
    <h:body>
        <div align="center">
            <ui:include src="templates/header.xhtml"/>
            <h:form id="form">            
                <p:messages id="mensajes" showDetail="true" closable="true"/>
                <p:panelGrid id="panelGrid" columns="2">
                    <h:outputText value="Usuario"/>
                    <p:selectOneMenu id="selectUsuario" binding="#{loginView.selectUsuario}">
                        <f:selectItem itemLabel="ADMINISTRADOR" itemValue="ADMINISTRADOR"/>
                        <f:selectItem itemLabel="SUPERVISOR" itemValue="SUPERVISOR"/>
                    </p:selectOneMenu>

                    <h:outputText value="Contraseña"/>
                    <p:password id="password" binding="#{loginView.password}" required="true" requiredMessage="La contraseña es obligatoria"/>

                    <f:facet name="footer">
                        <div align="center">
                            <p:commandButton id="btnIngresar" action="#{loginView.login()}" update="form" value="Ingresar" style="margin-left:5px"/>
                            <p:commandButton id="btnLimpiar"  action="#{loginView.clear()}" update="form" value="Limpiar" styleClass="ui-button-success" style="margin-left:5px"/>
                        </div>    
                    </f:facet>
                </p:panelGrid>
            </h:form>
            <ui:include src="templates/footer.xhtml"/>
        </div>
    </h:body>
</html>

