<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Acceso denegado</title>
        <script>
            // se confirma en segundos o minutos la cuenta regresiva para redireccionar
            // all login
            var limit = "0:05";
            if (document.images) {
                var parseLimit = limit.split(":");
                parseLimit = parseLimit[0] * 60 + parseLimit[1] * 1;
            }
            function begintimer() {
                if (!document.images)
                    return;
                if (parseLimit === 1)
                    window.location = "/OrderWeb/";
                else {
                    parseLimit -= 1;
                    curmin = Math.floor(parseLimit / 60);
                    cursec = parseLimit % 60;
                    if (curmin === 0) {
                        curtime = cursec + " Segundos";
                        document.getElementById("tiempo").innerHTML = curtime;
                    }
                    window.status = curtime;
                    setTimeout("begintimer()", 1000);
                }
            }
        </script>
    </h:head>
    <h:body onload="begintimer()">
        
            
        
        <div align="center">
            <h1>Sesión caducada</h1>
            <h:outputText value="No ha iniciado sesión o ésta ya ha caducadó!"/>
            <br/>
            <p:graphicImage name="img/sesion_caducada.png"/>
            <br/>
            <h:outputText value="Será redireccionado a la pagina principal en "/>
            <strong><font color="#ff0000"><span id="tiempo"></span></font></strong>
        </div>
    </h:body>
</html>
