<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>500</title>
        
    </h:head>
    <h:body>
        <div align="center">
            <h1>Error 500</h1>
            <h2>Un error inesperado ha ocurrido!</h2>
            <p>
                <p:graphicImage name="img/error.png"/>
            </p>
            <p>
                Ir a <p:link href="login.xhtml" value="Inicio" escape="false"/>
            </p>
        </div>
        <p:panel header="Error">
            <p><strong>User agent: </strong> #{header['user-agent']}</p>
            <p><strong>Request URI: </strong> #{requestScope['javax.servlet.error.request_uri']}</p>
            <p><strong>Ajax request: </strong> #{facesContext.partialViewContext.ajaxRequest ? 'Yes':'No'}</p>
            <p><strong>Codigo de estado: </strong> #{requestScope['javax.servlet.error.status_code']}</p>
            <p><strong>Tipo de conexion: </strong> #{requestScope['javax.servlet.error.exception_type']}</p>
            <p><strong>Mensaje: </strong> #{requestScope['javax.servlet.error.message']}</p>
            <p:panel header="Detalles">
                <pre>
                    #{errorView.printStackTrace(requestScope['javax.servlet.error.exception'])}
                </pre>
            </p:panel>
        </p:panel>
    </h:body>
</html>
